@import url('https://fonts.googleapis.com/css?family=Lemon|Open+Sans');
$white: #ecf0f1;
$lightBlue: #34495e;
$darkBlue: #2c3e50;
$lightGreen: #1abc9c;
$darkGreen: #16a085;
$headerFont: 'Lemon', sans-serif;
$textFont: 'Open Sans', sans-serif;
* {
  margin: 0;
  padding: 0;
}
html,body {
  padding: 0;
  margin: 0;
  height:100%;
}
ul {
  text-align: center;
  list-style: none;
}
ul li a{
  color: $lightGreen;
  text-decoration: none;
  font-family: $textFont;
}
h1,h2,h3 {
  font-family: $headerFont;
  color: $darkBlue;
  text-align: center;
  padding: 0.5em;
  a {
    color: $lightGreen;
    text-decoration: none;
  }
}
.channel {
  max-width: 50em;
  text-align: center;
  margin: 0 auto;
  font-family: $textFont;
}
.headerImg {
  background-image: url(../images/headerImg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}
.footer {

  display: block;
  text-align: center;
  color: $darkBlue;
  margin: 0.5em auto;
  font-family: $textFont;
  background-color: $white;
  border-radius: 1em;
  p {
    padding: 1rem;
  }
}
.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5rem;
  h1 {
    padding-top:2.5rem;
    color:$white;
    font-size: 200%;
  }
  img {
    width:12rem;
    height:auto;
  }
}
img {
    padding-left: 1em;
    padding-right: 1em;
  }
#heart {
  color:darkred;
}
